{% extends 'base.html' %} {% load static %} {% block content %}
  <div class="flex lg:py-0 relative">
    <!-- background blue blurred circle -->

    <!-- SECTION - SIDE BAR -->
    <div class="w-1/2 text-white fixed h-screen pl-24">
      <!-- side bar container -->
      <div class="h-full pl-24 py-12">
        <!-- Header -->
        <div class="h-[80%] py-10">
          <div class="grid items-center gap-4">
            <h1 class="font-semibold drop-shadow-md text-5xl font-">Pahasara Ridmaka</h1>
            <div class="">
              <h2 class="font-mono px-2 font-thin text-teal-300 inline-block bg-slate-800 rounded-lg">Python Django Developer | Graphics Designer</h2>
            </div>
            {% comment %} <p class="font-thin text-slate-300 font-mono w-2/3">" – curious, enthusiastic, and a student most of the time. I like to spend the rest of my time writing code, especially in Python."</p> {% endcomment %}
          </div>
        </div>

        <!-- footer -->
        <div class="flex justify-end flex-col h-[20%] pb-4 gap-4">
          <!-- Social Icons -->
          <div class="flex gap-5 fa-lg text-slate-500">
            <i class="fa-brands fa-github hover:text-slate-400"></i>
            <i class="fa-brands fa-linkedin hover:text-slate-400"></i>
            <i class="fa-brands fa-facebook hover:text-slate-400"></i>
            <i class="fa-brands fa-medium hover:text-slate-400"></i>
          </div>

          <!-- Copyright text -->
          <p class="text-slate-400">Designed and developed by Pahasara Ridmaka</p>
        </div>
      </div>
    </div>

    <!-- ////////////////////////////////////////////////////////////////// -->
    <!-- SECTION main -->
    <div class="w-1/2 ml-[55%] pr-24">
      <!-- container -->
      <div class="my-24">
        <!-- about me -->
        <div class="font-thin text-slate-300 font-mono">
          <p>"Hey, I'm Pahasara – curious, enthusiastic, and a student most of the time. I like to spend the rest of my time writing code, especially in Python."</p>
        </div>

        <br /><br /><br />

        <!-- Projects -->
        {% comment %} <div class="gap-4">
          {% endcomment %}
          {% for project in projects %}
            <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

            <div class="flex h-auto hover:shadow-xl hover:ring-1 hover:ring-slate-500 hover:rounded-md mb-4 hover:bg-slate-800/40">
              <!-- Left Side -->
              <div class="p-4 w-[30%]">
                <p>{{ project.date }} -</p>
              </div>

              <!-- Right Side -->
              <!-- Title -->
              <div class="p-4 w-[70%]">
                <a href="" class="flex justify-between">
                  <p class="font-semibold hover:text-teal-300">{{ project.title }}</p>

                  <span><i class="fa-solid fa-arrow-trend-up mr-5"></i></span>
                </a>
                <!-- DESCRIPTION -->
                <p class="font-thin">{{ project.description }}</p>
                <!-- USED TECHNOLOGIES -->
                <div class="py-2 flex space-x-3">
                  {% for tag in project.tags.all %}
                    <button type="button" class="flex px-3 py-1 rounded-full bg-teal-400/10 text-teal-300 text-sm font-semibold">{{ tag.name }}</button>
                  {% endfor %}
                </div>
              </div>
            </div>

            <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
          {% endfor %}
          <!-- projects end -->
          {% comment %}
        </div> {% endcomment %}
      </div>
    </div>
    <div id="follower" class="top-[30%] right-[5px] w-96 h-96 fixed rounded-full bg-blue-600 filter blur-3xl opacity-20 -z-20"></div>
  </div>
{% endblock %}
