{% extends 'base.html' %} {% load static %}

{% block content %}
  <div class="my-5">
    <h1 class="mb-5 font-mono text-slate-300 text-lg">Discover the projects I'm currently contributing to or have contributed to.</h1>
  </div>

  <!-- Projects -->
  {% comment %} <div class="gap-4">
    {% endcomment %}
    {% for project in projects %}
      <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

      <div class="flex h-auto hover:shadow-xl hover:ring-1 hover:ring-slate-500 hover:rounded-md mb-4 hover:bg-slate-800/40">
        <!-- Left Side -->
        <div class="p-4 w-[30%]">
          <p>{{ project.date }} -</p>
        </div>

        <!-- Right Side -->
        <!-- Title -->
        <div class="p-4 w-[70%]">
          <a href="" class="flex justify-between">
            <p class="font-semibold hover:text-teal-300">{{ project.title }}</p>

            <span><i class="fa-solid fa-arrow-trend-up mr-5"></i></span>
          </a>
          <!-- DESCRIPTION -->
          <p class="font-thin">{{ project.description }}</p>
          <!-- USED TECHNOLOGIES -->
          <div class="py-2 flex space-x-3">
            {% for tag in project.tags.all %}
              <button type="button" class="flex px-3 py-1 rounded-full bg-teal-400/10 text-teal-300 text-sm font-semibold">{{ tag.name }}</button>
            {% endfor %}
          </div>
        </div>
      </div>

      <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    {% endfor %}
    <!-- projects end -->
  </div>
{% endblock %}
